# Python virtual environments
venv/
backend/venv/

# Node modules
node_modules/



# Ignore only CSV data files (not code)
backend/dataset/*.csv


# Python cache
__pycache__/
*.pyc

# DB & secrets
db.sqlite3
.env
